---
const {
  title,
  title_es,
  coverImage,
  url,
  badge,
  customCssClass,
  // desc,
} = Astro.props;

import { Image } from "astro:assets";

import { getCollection } from "astro:content";
const projectCollection = await getCollection("projects");
---

<div class={customCssClass + ' card'}>
  <a href={url}>
    <div class="card-content flex-col">
      {
          <Image
            src={coverImage}
            alt={title}
            class="max-h-[85vh] max-w-full w-auto object-contain"
          />
      }
      <div class="w-full p-0 mt-2">
        <h1 class="text-base 2xl:text-lg font-bold flex flex-row items-center justify-between">
          <content-it>{title}</content-it>
          <content-es>{title_es}</content-es>
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <!-- {desc && <p class="py-1 text-1xl">{desc}</p>} -->
      </div>
    </div>
  </a>
</div>
