---
const {
  title,
  coverImage,
  url,
  badge,
  customCssClass,
  // desc,
} = Astro.props;
import { Image } from "astro:assets";
---

<div class={customCssClass + ' card'}>
  <a href={url}>
    <div class="card-content flex-col">
      {
        (coverImage) && (
          <Image
            width={500}
            height={500}
            format="webp"
            src={coverImage}
            alt={title}
            class="max-w-full"
          />
        )
      }
      <div class="w-full p-5 md:p-0 mt-2">
        <h1 class="text-lg font-bold flex flex-row items-center justify-between">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <!-- {desc && <p class="py-1 text-1xl">{desc}</p>} -->
      </div>
    </div>
  </a>
</div>
