---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import letiziaPortrait from "../../images/bio/01-Letizia_Chianello_portrait_ritratto_fotografia_Sicilia_natura_Nebrodi.jpg"
import fotoPurracca from "../../images/bio/02-Fiori_asteraceae_asfodelo_asfodeluz_purracca_formica_primavera_Sicilia.jpg"
import fotoBambiniAbbraccio from "../../images/bio/03-Sicilia_Monti_Nebrodi_bambini_abbraccio_educazione_natura_pecore_zainetto_Affenzahn_dupareilaumeme.JPG"
import fotoFogliaQuerciaMano from "../../images/bio/04-Sicilia_Monti_Nebrodi_bosco_cerri_querce_mano_bambina_foglia_educazione_natura.JPG"
import fotoBambiniFango from "../../images/bio/05-Sicilia_Monti_Nebrodi_gioco_educazione_natura_bambini_vasca_gebbia_acqua_fango.JPG"
import fotoPietraRosaSpiaggia from "../../images/bio/06-Sicilia_mar_tirreno_spiaggia_dettaglio_pietra_rosa_schiuma_sabbia_movimento_.jpg"
---

<BaseLayout title="Bio" sideBarActiveItemID="bio">
  <div class="flex flex-col gap-12">
    <div class="bio-section">
      <div class="lg:max-w-[800px]">
        <p class="mb-4">
          Letizia Chianello es una directora artística con conocimientos
          multidisciplinarios, nacida y criada en Sicilia, se mudó al norte de
          Italia y luego decidió viajar lejos y vivir en Argentina, en la sierra
          cordobesa. Al regresar a Italia, decidió establecerse en su país de
          origen, viviendo inmersa en la naturaleza y disfrutando de la vista
          del mar y de las montañas Nebrodi. Fuente de bienestar e inspiración
          para nuevos proyectos. <br>
          Actualmente trabaja en proyectos culturales y
          personales. Tiene pasión por el arte, la fotografía, el cine, la
          ilustración, la música. Creativa, no le gusta encasillar lo que hace,
          se sumerge en los proyectos, dirigiendo y diseñando todo el proceso de
          forma coherente y completa. Desarrollar estrategias y lenguajes
          visuales combinando creatividad y sentimiento.
        </p>

        <p class="italic">
          Ha lavorato per la Condé Nast Italia, Vogue, MFF Milano Finanza
          Fashion, Rivista Donna, Home Italia, Marie Claire Maison, Bravacasa,
          Max Mara, Max&Co, Pennyblack, Coop Alleanza 3.0, Territori.Coop,
          Freddi, Tetra Pak Italia, WMF Italia, Lameplast, CMB, Comune di Reggio
          Emilia, Comune di Córdoba, Instituto Nacional del Teatro Córdoba, CBA
          Cultura Córdoba, Polymates, Altermundi.
        </p>
      </div>

      <div class="lg:max-w-[800px]">
        <Image src={letiziaPortrait} alt="Letizia Chianello portrait" />
      </div>
    </div>

    <div class="bio-section">
      <div>
        <Image src={fotoPurracca} alt="Foto asfodelo mediterraneo"
               class="max-h-[90vh] w-auto object-contain" />
      </div>
      <div class="text-container gap-4">
        <p>
          Ritraggo quello <br />
          che sembra non vedersi.
        </p>
        <p>Con delicatezza appare</p>
        <p>Insieme</p>
        <p>a quello che sento.</p>

        <br class="grow" />

        <p>Viverlo</p>
        <p>
          Attraverso i miei occhi <br />
          in un presente ogni volta diverso.
        </p>
      </div>
    </div>

    <div class="bio-section">
      <div class="text-center">
        <div>
          <Image src={fotoBambiniAbbraccio}
                 alt="Foto bambini che si abbracciano" />
        </div>
        <p class="mt-8">Mi piace ciò che respira autenticità. </p>
        <p class="mt-4">
          Racconto il rapporto fra natura e persone <br />
          Un gesto, un luogo, una storia sincera
        </p>
        <p class="mt-4">Per non dimenticare quello che è importante</p>
      </div>
      <div class="w-auto" >
        <Image src={fotoFogliaQuerciaMano}
               alt="Foto bambina con una foglia di quercia in mano"
               class="max-h-[90vh] object-contain" />
        <p class="text-center mt-10">Altre volte</p>
      </div>
    </div>

    <div class="bio-section">
      <div class="xl:pl-[6vw]">
        <div>
          <Image src={fotoBambiniFango}
                 alt="Foto bambini che giocano col fango"
                 class="max-h-[80vh] w-auto object-contain" />
        </div>

        <div class="text-container">
          <p class="mt-6">
            Fotografo con sensibilità <br />
            momenti spontanei dell'infanzia,
          </p>
          <p class="mt-4">
            Presa da pura gaiezza inquadro<br/>
            la loro bellezza e preziosità</p>
        </div>
      </div>

      <div>
        <Image src={fotoPietraRosaSpiaggia}
               alt="Foto pietra rosa sulla spiaggia"
               class="max-h-[90vh] w-auto object-contain" />
        <div class="text-container lg:pl-20">
          <p class="mt-6">
            Qui, Lontano <br />
            Nascosta, Raggio
          </p>
          <p class="mt-4">La mia storia</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
