---
import { type projectSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends projectSchema {}

const {
  title,
  description,
  updatedDate,
  images,
  coverImage,
  badge,
  custom_link,
  custom_link_label,
} = Astro.props;

dayjs.extend(localizedFormat);
const displayDate = dayjs(updatedDate).format("ll");
import { Image } from "astro:assets";
---

<BaseLayout title={title} description={description} image={coverImage}>
  <main>
    <article class="flex flex-col items-center gap-20">
      <div class="flex flex-col mx-auto shrink">
        <div class="w-auto mx-0 shrink mb-4 flex">
          <h1 class="title my-2 text-2xl font-bold flex items-center">
            {title}
            {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
          </h1>
        </div>

        <div class="w-auto mx-auto flex flex-col gap-5"
             style="* { @apply w-auto shrink; }" >
             <!-- Because slot tag is basically substituted by Astro with the
               -- HTML-ized text content of the markdown file, I haven't found
               -- a cleaner way to apply some styling to the injected elements
               -- so this fancy inline style="* {...}" seems to suffice ATM -->
          <slot />
        </div>
      </div>

      {
        images.map((image) => (
          <Image src={image} alt={title}
                  class="max-h-[96vh] max-w-full w-auto object-contain" />
        ))
      }
    </article>
  </main>

  <script>
      ScrollReveal().reveal('img,p');
  </script>

</BaseLayout>
